In [6]:
# pandas libary is use for tables 
import pandas as pd

# step 1
## Data collection

In [8]:
# load the file in dataSet
dataSet = pd.read_csv('Salary_Data.csv')

In [10]:
# head function show the first five data
dataSet.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

# step 2
## Input and Output

In [17]:
# input
inDependent = dataSet[['YearsExperience']]
inDependent.head(2)

   YearsExperience
0              1.1
1              1.3

In [18]:
# output is prediction value
dependent = dataSet[['Salary']]
dependent.head(2)

    Salary
0  39343.0
1  46205.0

# step 3
## split train and test

In [19]:
# this method split the train and test
from sklearn.model_selection import train_test_split

In [22]:
xTrain, xTest, yTrain, yTest  = train_test_split(inDependent, dependent, test_size = 0.30, random_state = 0)

# step 4
## Train the model (or) the machine is learning

In [23]:
# this is algorithm for linear regression 
from sklearn.linear_model import LinearRegression

In [25]:
regressor = LinearRegression()
regressor.fit(xTrain, yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
# weight means slope
weight = regressor.coef_
weight

array([[9360.26128619]])

In [31]:
# bais 
bais = regressor.intercept_
bais

array([26777.3913412])

# step 5
## prediction test

In [35]:
yPred = regressor.predict(xTest)

# step 6
# check good model or bad model

In [36]:
from sklearn.metrics import r2_score

In [38]:
# This yTest is actual data
# This yPred is predict data
rScore = r2_score(yTest, yPred)

In [39]:
rScore

0.9740993407213511

# step 7
## save the model

In [41]:
import pickle

In [45]:
fileName = "salaryPrediction.sav"

In [46]:
pickle.dump(regressor, open(fileName, 'wb'))

# step 8
## run the model

In [51]:
loadedModel = pickle.load(open('salaryPrediction.sav', 'rb'))
result = loadedModel.predict([[15]])

In [52]:
result

array([[167181.3106341]])